<configuration debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %highlight(%-5level) %logger{36}:%line - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--        TODO this breaks on *nix-->
        <file>${APPDATA}/triggevent/triggevent.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${APPDATA}/triggevent/triggevent.log.%i.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36}:%line - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="COLLECTOR" class="gg.xp.xivsupport.slf4j.LogCollector">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %msg
            </pattern>
        </encoder>
    </appender>

    <!--    <logger name="com.mkyong" level="debug" additivity="false">-->
    <!--        <appender-ref ref="CONSOLE"/>-->
    <!--    </logger>-->

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
        <!--        TODO: Find a clean way to have COLLECTOR also get trace-level logs-->
        <appender-ref ref="COLLECTOR"/>
        <appender-ref ref="FILE"/>
    </root>
    <!--    TODO turn some log levels down, like actws null response -->
    <!--    <logger name="" level="trace">-->
    <!--        <appender-ref ref="COLLECTOR"/>-->
    <!--    </logger>-->

</configuration>