# This workflow builds the project, and publishes it to github-pages, under a per-branch directory.
# e.g. master branch builds to https://xpdota.github.io/event-trigger/master/

# This version runs on a self-hosted runner that has everything preinstalled for faster runs.

name: Publish

on:
  push:
  workflow_dispatch:

env:
  JAVA_VERSION: '21'


jobs:
  build:

    runs-on: self-hosted
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 21
        uses: actions/setup-java@v3.13.0
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'oracle'
          cache: maven
      - name: Build with Maven
        run: xvfb-run mvn -T3 clean package
      - name: Copy release files
        run: |
          pushd launcher/target/windows/
          mkdir -p publish_data/v2
          md5sum *.exe *.dll deps/*.jar > publish_data/v2/manifest
          echo ${{ env.JAVA_VERSION }} > publish_data_v2/javaversion
          cp -r *.exe *.dll deps/ publish_data/v2/
          # Legacy updater
          cd deps
          md5sum *.jar > ../publish_data/manifest
          cp *.jar ../publish_data/
          popd
      - name: Docs with Maven
        run: mvn site
      - name: Copy docs
        run: |
          mv target/site/apidocs ./launcher/target/windows/publish_data/javadoc
      - name: Deploy release files
        uses: JamesIves/github-pages-deploy-action@4.1.7

        with:
          folder: ./launcher/target/windows/publish_data
          branch: gh-pages
          target-folder: ${{ github.ref_name }}





# TODO: artifacts
# TODO: saint coinach auto-update of data
